In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.read_csv('HW5.csv')

    Sample  Fill Weight  Fill Weight.1  Fill Weight.2  Fill Weight.3
0        1          352            348            350            351
1        2          351            352            351            350
2        3          351            346            342            350
3        4          349            353            352            352
4        5          351            350            351            351
5        6          353            351            346            346
6        7          348            344            350            347
7        8          350            349            351            346
8        9          344            345            346            349
9       10          349            350            352            352
10      11          353            352            354            356
11      12          348            353            346            351
12      13          352            350            351            348
13      14          356            351            349            352
14      15          353            348            351            350
15      16          353            354            350            352
16      17          351            348            347            348
17      18          353            352            346            352
18      19          346            348            347            349
19      20          351            348            347            346
20      21          348            352            351            352
21      22          356            351            350            350
22      23          352            348            347            349
23      24          348            353            351            352