In [1]:
import pandas as pd
import numpy as np

sample = pd.read_csv('FilteredWeighted.csv')
for i in range(len(sample)):
    if (sample['Final'][i] == 'FALSE'):
        sample = sample.drop([i])
sample = sample.reset_index(drop=True)

totWeight = sample['Weight'].sum()
for i in range(len(sample)):
    sample['Weight'][i] = (sample['Weight'][i])/(totWeight)
    
sampleFin = np.random.choice(sample['Final'], size=2000, replace=False, p=sample['Weight'])

In [24]:
sampleFin = pd.read_csv('sampleFin.csv')
sampleFin = sampleFin.drop(columns=['Unnamed: 0'])
sampleFin

             0
0     35807102
1     16447101
2     13752101
3     37930102
4     36020101
5     15348101
6     32175101
7     30674102
8     34525102
9     35953101
10    37562101
11    34402102
12    30913101
13    10396104
14    30114102
15    15767101
16    14404102
17    33226101
18    17026102
19    31522101
20    38634101
21    11678101
22    18660101
23    15244102
24    12590101
25    13893102
26    36033101
27    14229101
28    33869102
29    11953101
...        ...
1970  30209102
1971  10732101
1972  18375101
1973  17035101
1974  33708102
1975  36612102
1976  12222102
1977  34930101
1978  37836102
1979  30347102
1980  33601101
1981  35572101
1982  37762102
1983  33680101
1984  35326102
1985  12883101
1986  14281102
1987  13257102
1988  36074102
1989  15374106
1990  14815101
1991  12092101
1992  17195101
1993  12171102
1994  32835102
1995  32605102
1996  15626101
1997  17756102
1998  31734102
1999  32237102

[2000 rows x 1 columns]

In [25]:
ERE = pd.read_csv('ERE.csv')
ERE = ERE.drop(columns=['Unnamed: 0'])

HHE = pd.read_csv('HHE.csv')
HHE = HHE.drop(columns=['Unnamed: 0'])

HIE = pd.read_csv('HIE.csv')
HIE = HIE.drop(columns=['Unnamed: 0'])

OBE = pd.read_csv('OBE.csv')
OBE = OBE.drop(columns=['Unnamed: 0'])

OPE = pd.read_csv('OPE.csv')
OPE = OPE.drop(columns=['Unnamed: 0'])

In [ ]:
for index in range(len(OPE)):
    if ((OPE['DUPERSID'].isin(sampleFin['0']))[index] == False):
        OPE = OPE.drop([index])

In [41]:
OPE

       DUPERSID  DoY  DRSPLTY
0      10019102  162       -1
1      10019102  214       -1
2      10026103  101       24
3      10036101  361        8
4      10040101   63       -1
5      10040101  111        3
6      10040101  131        3
7      10040101  227        8
8      10040101  281        8
9      10040102  324        8
10     10043101  209       -1
11     10043101  199       -1
12     10043103   73       -1
13     10043103  284       91
14     10043104  159       -1
15     10043104  235       29
16     10044101  346        3
17     10055101  227       -1
18     10055101  237        9
19     10055101  293       -1
20     10067101  325        8
21     10067101  256       -1
22     10067102   81       -1
23     10075101  231        7
24     10087102   61       20
25     10092101   51       -1
26     10092101   82       -1
27     10092101  112       -1
28     10092101  143       -1
29     10095101  161       -1
...         ...  ...      ...
11513  39690102  138       22
11514  39690102  262       91
11515  39690102  274       24
11516  39690102  283       24
11517  39690103  263        6
11518  39697102  246       -1
11519  39700105   57        8
11520  39702103   69       -1
11521  39702103  187       -1
11522  39713101  286       -1
11523  39713101  322       -1
11524  39713102  158        6
11525  39713102  161        3
11526  39713102  168        3
11527  39713102  237       -1
11528  39713102  246       -1
11529  39713102  259       -1
11530  39713102  278       -1
11531  39713102  280       -1
11532  39713102  284       -1
11533  39715103  141       -1
11534  39715103  140       -1
11535  39715103  153       -1
11536  39719103  357        8
11537  39719103  143       -1
11538  39721102   76        3
11539  39722102  159        8
11540  39736101  357       -1
11541  39742103  337       -1
11542  39742104  362       -1

[11543 rows x 3 columns]

In [39]:
OPE = OPE.reset_index(drop=True)

In [40]:
OPE.to_csv('OPE.csv')